* {
  margin: 0;
  padding: 0;
}
#header {
  background-color: #fff1e6;
  width: 100vw;
  height: 112px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 120px;
  height: 60px;
}
.header-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
.line-header {
  margin-left: 8px;
  height: 20px;
}
.arrow-header {
  margin-left: 8px;
  width: 13px;
  height: 13px;
}
.font-header {
  font-family: Raleway;
  font-weight: 500px;
  width: 117px;
  height: 16px;
  font-size: 22px;
}
.header-items {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.header-button {
  background-color: #f8943f;
  border-radius: 50px;
  padding: 10px;
  color: white;
  border: none;
  font-size: 22px;
}
.help-button {
  background-color: #fff1e6;
  border: 2px solid #f8943f;
  color: black;
  font-size: 22px;
  padding: 10px;
  border-radius: 50px;
}
.header-button-image {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.call-image {
  width: 18px;
  height: 18px;
}
.two-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.another-header-portion {
  display: flex;
  gap: 30px;
}

#second {
  width: 100vw;
  background-color: #b5c1a6;
  height: 430px;
}
.girl {
  width: 300px;
  height: 400px;
}
.girl-block {
  position: absolute;
  bottom: 0;
  right: 0;
}
.second-container {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.first-plan-para {
  font-family: Raleway;
  font-weight: 800px;
  font-size: 60px;
}
.second-plan-para {
  font-family: sans-serif;
  font-weight: 200px;
  font-size: 30px;
  color: gray;
}
.third-plan-para {
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 30px;
}
.buy-now {
  background-color: #f8943f;
  border-radius: 50px;
  border: none;
  color: white;
  padding: 8px;
  width: 180px;
  margin-top: 20px;
  font-size: 18px;
}
#third {
  padding-top: 40px;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-first-article {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.google-section {
  display: flex;
  gap: 6px;
}
.star-image {
  width: 50px;
  height: 20px;
}
.google-image {
  width: 70px;
  height: 70px;
}
.color-ratings {
  color: #f8943f;
  font-weight: bold;
}
.five-star {
  font-size: x-small;
}
.plus {
  color: #f8943f;
  font-size: x-large;
  font-weight: bold;
}
.specialists-text {
  color: black;
  font-size: x-large;
  font-weight: bold;
}
.horizontal {
  height: 80px;
}
.google-flex {
  display: flex;
  gap: 10px;
}
.input-fields {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.a-input {
  border-radius: 50px;
  border: 1px solid gray;
  padding: 8px;
  padding-left: 14px;
}
.b-input {
  border-radius: 50px;
  border: none;
  padding: 10px;
  padding-left: 14px;
  color: white;
  background-color: #f8943f;
}
.flex-rates {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#fourth {
  width: 100vw;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-inner-block {
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: #fff9f4;
}
.dental-issues-article {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dental-issues {
  width: 70%;
  text-align: center;
  font-weight: 700px;
  font-size: 40px;
}
.issues-icons {
  width: 80%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 25px;
}
.icon-image {
  padding: 10px;
  width: 100px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.font-issues {
  text-align: center;
}
.issues-image {
  width: 30px;
  height: 40px;
  margin-bottom: 5px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.search-img {
  width: 14px;
  height: 14px;
}
.arrow-img {
  width: 12px;
  height: 12px;
}
#sixth {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sixth-inner-block {
  width: 80%;
  height: 80%;
}
.first-sixth {
  width: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-sixth {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.own-words {
  font-family: Raleway;
  font-weight: 700px;
  font-size: 30px;
}
.picture {
  height: 100%;
}
#seventh {
  width: 80%;
  margin: auto;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  overflow: hidden;
  gap: 20px;
}
.slider {
  height: 100%;
  width: 750px;
}
#footer {
  width: 100%;
  height: 500px;
  background-color: #3d2010;
}
.footer-flex {
  padding-top: 40px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 120px;
}
.each-flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-heading {
  font-family: Raleway;
  font-weight: 500px;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  font-style: italic;
}
.footer-text {
  font-weight: lighter;
  font-size: 12px;
  color: gray;
}
.social-icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.social-icon {
  width: 25px;
  height: 25px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-image {
  width: 400px;
  height: 150px;
}
.footer-paragraph {
  text-align: center;
  margin-top: 30px;
  font-weight: 300px;
  font-family: sans-serif;
  color: gray;
}
#freqently-asked {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frequently-questions {
  width: 80%;
  height: 80%;
}
.frequently-paragraph {
  font-family: Raleway;
  font-weight: 400px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 30px;
}
.question {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}
.particular-question {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.question-para {
  font-size: large;
}
#beyond-dentistry {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beyond-dentistry-section {
  width: 80%;
  height: 80%;
  background-color: #fff9f4;
  border-radius: 10px;
}
.dentistry {
  font-weight: 500px;
  font-family: Raleway;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 7px;
}
.mapping {
  font-weight: 300px;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}
.dentistry-flex {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}
.dentistry-box {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: white;
}
